.top-footer{
	background-color: #324a6c;
	padding: 40px 0;
	.footer-wrapper{
		display: flex;
		justify-content: space-between;
		color: #e6e6e6;
		// align-items:center;
		h1{
			text-transform: uppercase;
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 15px;
			font-weight: bold;
		}
		p{
			margin-bottom: 12px;
		}
		p:last-of-type{
			margin-bottom: 0;
		}
		.footer-links ul{
			margin-bottom: 0;
			li{
				margin-bottom: 12px;
				&:last-of-type{
					margin-bottom: 0;
				}
				a{
					color: #e6e6e6;
				}
			}
		}
		.social-link a{
			display: block;
			margin-bottom: 12px;
			color: #e6e6e6;
		}
	}
}
.bottom-footer{
	background-color:#121f31;
	padding:20px 0;
	p{
		margin: 0;
		color: #e6e6e6;
		text-align: center;
	}
}